$p: "toolbar";

.#{$p} {
  width: 100%;
  padding: 20px;

  .#{$p}-title {
    width: 30%;
    text-align: center;
    margin: auto auto;

    h1 {
      font-family: Helvetica Neue, Helvetica;
      font-size: 24px;
    }
  }

  .#{$p}-buttons {
    width: 100%;
  }

  .#{$p}-prev, .#{$p}-next {
    width: 25%;
  }

  .#{$p}-list {
    width: 50%;
  }
}
